.city {
    font-weight: 900;
    font-size: 5vh;
}

.temp-container {
    display: flex;
    gap: 3vw;
}

.temp-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 900;
    font-size: 3vh;
    border-right: solid;
    padding-right: 2vw;
}
